/* latin */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/figtree/v1/_Xms-HUzqDCFdgfMm4S9DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Header Section */
#header{
    background-color: #2d2e3b;
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
}

#header h1 {
    font-family: "Figtree";
    font-weight: bold;
    color: #eaebed;
    padding-left: 10px;
}

/* About Section */

#About {
    background-image: url("./whitebackground.png");
    background-size: cover;
    background-color: #ececec;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    height: 550px;
}


.About-content{
    text-align: center;
    display: block;

}
.About-content h1{
    font-family: "Figtree";
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 30px;
    color: #2d2e3b;
}

.About-content p{
    font-family: "Figtree";
    color: #2d2e3b;
    font-size: 18px;
}

.About-img img{
    position: relative;
    left: 33%;
    width: 35%;
}

/* blue Section */

#blue-bar{
    background-color: #0064cb;
    color: #0064cb;
    position: absolute;
    top: 600px;
    height: 20px;
    width: 100%;
    right: 0px;
}

/* Graph Section Container */

#GraphSection {
    background-color: #2d2e3b;
    position: absolute;
    width: 100%;
    top: 620px;
    right: 0px;
    height: 1700px;
}

/* Progress Graph Section */

.progress-content{
    position: relative;
    top: 50px;
}

.progress-content h1{
    font-family: "Figtree";
    font-weight: bold;
    color: #5bacff;
    text-align: center;
}

.progress-content p{
    font-family: "Figtree";
    color: #eaebed;
    text-align: center;
}

.progressContainer{
    position: relative;
    left: 28%;
    width: 50%;
    top: 50px;
}

/* Strength Vs Average Graph Section */

.strengthvsaverage-content{
    position: relative;
    top: 50px;
}

.strengthvsaverage-content h1{
    font-family: "Figtree";
    font-weight: bold;
    color: #5bacff;
    text-align: center;
}

.strengthvsaverage-content p{
    font-family: "Figtree";
    color: #eaebed;
    text-align: center;
}

.strengthvsaverage-container{
    position: relative;
    left: 28%;
    top: 50px;
    width: 50%;

}

/* Strength Score Graph Section */

.strengthscore-content{
    position: relative;
    top: 50px;
    font-family: "Figtree";
    font-weight: bold;
    color: #5bacff;
    text-align: center;
}

.strengthscore-container{
    background-color: #ffffff;
    width: 600px;
    height: 300px;
    position: relative;
    top: 50px;
    border-radius: 30px;
    left: 325px;
}

.bluecircle{
    background-color: #5bacff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: 45px;
    left: 50px;
}

.bluecircle var{
    font-family: "Figtree";
    font-weight: bold;
    color: #ffffff;
    font-size: 90px;
    position: relative;
    left: 20%;
    top: 23%;
    font-style: normal;
    letter-spacing: 5px;
}

.workoutGroups{
    font-family: "Figtree";
    font-weight: bold;
    position: relative;
    bottom: 175px;
    left:50%;
}

.workoutGroups li{
    list-style: none;
    letter-spacing: 2px;
}

.totalScore{
    font-size: 20px;
}

.tab var{
    margin-left: 10px;
    color: #0064cb;
    font-family: "Figtree";
    font-style: normal;
}


/* Button Section */
#button-container{
    background-color: #2d2e3b;
    position: absolute;
    width: 100%;
    top: 2000px;
    right: 0;
}

button{
    position: relative;
    left: 550px;
    font-family: "Figtree";
    font-weight: bold;
    width:200px;
    height: 40px;
    border-radius: 25px;
    background-color: #5bacff;
    border: 1px solid white;
    color: #ffffff;
}

button:hover{
    background-color: #ffffff;
    border: 1px solid #5bacff;
    color: #5bacff;

}

/* Display Options Desktop, Tablet, Mobile */

/* Mobile */
@media only screen and (max-width:320px){

  
  }
  
  /* Tablet */
  @media only screen and (min-width:321px) and (max-width:768px){


  }

    /*Desktop*/
    @media only screen and (min-width:769) and (max-width:1299px) {
     
    }
  
  /* LARGE Desktop*/
  @media only screen and (min-width:1300px) and (max-width:2000px) {
    .strengthscore-container{
        left: 35%;
    }
 
  }