/* latin */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/figtree/v1/_Xms-HUzqDCFdgfMm4S9DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Header Section */
#header{
    background-color: #2d2e3b;
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
}

#header h1 {
    font-family: "Figtree";
    font-weight: bold;
    color: #eaebed;
    padding-left: 10px;
}

/* About Section */

#About {
    background-image: url("file:///C:/Users/19032/Documents/GroupProject/WorkoutLog/Resources/images/whitebackground.png");
    background-size: cover;
    background-color: #ececec;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    height: 550px;
}


.About-content{
    text-align: center;
    display: block;

}
.About-content h1{
    font-family: "Figtree";
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 30px;
    color: #2d2e3b;
}

.About-content p{
    font-family: "Figtree";
    color: #2d2e3b;
    font-size: 18px;
}

.About-img img{
    position: relative;
    left: 33%;
    width: 35%;
}

/* blue Section */

#blue-bar{
    background-color: #0064cb;
    color: #0064cb;
    position: absolute;
    top: 600px;
    height: 20px;
    width: 100%;
    right: 0px;
}

/* Progress Graph Section */

#ProgressGraphSection {
    background-color: #2d2e3b;
    position: absolute;
    width: 100%;
    top: 620px;
    right: 0px;
    height: 1000px;
    letter-spacing: 2px;
}

.progress-content{
    position: relative;
    top: 50px;
}

.progress-content h1{
    font-family: "Figtree";
    font-weight: bold;
    color: #5bacff;
    text-align: center;
}

.progress-content p{
    font-family: "Figtree";
    color: #eaebed;
    text-align: center;
}

.progressContainer{
    position: relative;
    left: 28%;
    width: 50%;
    top: 50px;
}
